<h1>Conditions générales d'utilisation et politique de confidentialité</h1>
<p>Vie privée

NOTRE PROMESSE

Chez CRUSHS, votre confidentialité est une priorité absolue.
Votre confidentialité est au cœur de la façon dont nous développons nos services et nos produits que vous connaissez et aimez,
de façon à ce que vous puissiez leur faire pleinement confiance et vous concentrer sur leur utilisation.

Nous sommes tout à fait conscients que vous nous accordez votre confiance lorsque vous nous livrez des informations vous concernant
et nous ne prenons pas cette confiance à la légère.

Notre engagement en matière de confidentialité :
- Tous nos produits et services sont conçus avec votre confidentialité à l'esprit.
Nous impliquons des experts de différents domaines (entre autres : notamment juridique, de la sécurité, de l'ingénierie)
pour nous assurer que nos décisions sont prises en tenant compte du respect de votre confidentialité.

Notre engagement envers la transparence :
- Comme nous utilisons bon nombre des mêmes services en ligne que vous, nous savons qu'un manque d'informations
et un langage trop compliqué sont des problèmes courants dans les politiques en matière de confidentialité.
C'est pourquoi nous adoptons l'approche exactement opposée :
nous faisons de notre mieux pour rédiger notre Politique de confidentialité et les documents associés en des termes simples.
Nous voulons vraiment que vous lisiez nos politiques et que vous compreniez nos pratiques en matière de confidentialité !

Notre engagement envers la sécurité:
- Nous avons des équipes pour garantir la sûreté et la sécurité de vos
données à caractère personnel. Nous mettons constamment à jour nos pratiques de sécurité et investissons dans nos
efforts en matière de sécurité pour améliorer sans cesse la sûreté de vos informations.

* * *

POLITIQUE DE CONFIDENTIALITÉ
Bienvenue sur la Politique de confidentialité de CRUSHS. Merci de prendre le temps de la lire.

Nous sommes conscients que vous nous confiez vos informations et nous avons l'intention de toujours
préserver cette confiance. Cela commence par nous assurer que vous comprenez les informations que nous recueillons,
pourquoi nous les recueillons, comment elles sont utilisées et vos choix au sujet de vos informations.
La présente Politique décrit nos pratiques de confidentialité en des termes simples, et en minimisant le
jargon juridique et technique au minimum.

La présente Politique de confidentialité s’applique à partir du 28/11/2022.

1. QUI NOUS SOMMES

2. OÙ LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ S'APPLIQUE

3. LES INFORMATIONS QUE NOUS RECUEILLONS

4. COOKIES ET AUTRES TECHNOLOGIES DE COLLECTE DES DONNÉES SIMILAIRES

5. COMMENT NOUS UTILISONS LES INFORMATIONS

6. COMMENT NOUS PARTAGEONS LES INFORMATIONS

7. TRANSFERTS DE DONNÉES TRANSFRONTALIERS

8. VOS DROITS

9. PENDANT COMBIEN DE TEMPS NOUS CONSERVONS VOS INFORMATIONS

10. CONFIDENTIALITÉ RELATIVE AUX ENFANTS

11. CANDIDATS À L’EMPLOI, SOUS-TRAITANTS ET REPRÉSENTANTS DES PRESTATAIRES

12. MODIFICATIONS DE LA POLITIQUE DE CONFIDENTIALITÉ

13. COMMENT NOUS CONTACTER


QUI NOUS SOMMES
La société responsable de vos informations en vertu de la présente Politique de confidentialité (le « responsable du traitement ») est :

CRUSHS SARL
12 rue Lacornée
33000 BORDEAUX
FRANCE


OÙ LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ S'APPLIQUE
La présente Politique de confidentialité s'applique aux sites Internet,
aux applications, aux événements et aux autres services que nous exploitons sous la marque CRUSHS.
Pour plus de simplicité dans la présente Politique de confidentialité, nous désignerons tous ces
éléments sous le nom de nos « services ». Pour gagner encore plus en clarté, nous avons ajouté des
liens à la présente Politique de confidentialité sur tous les services applicables.

Il se peut que certains services nécessitent leur propre Politique de confidentialité.
Si un service a sa propre Politique de confidentialité, alors c'est cette politique --
et non pas la présente Politique de confidentialité -- qui s'appliquera.

LES INFORMATIONS QUE NOUS RECUEILLONS
Il va sans dire qu’il nous est impossible de vous aider à développer nos services sans certaines informations vous concernant,
telles que les informations de base sur votre profil et les types de personnes que vous aimeriez rencontrer.
Nous recueillons également des informations sur votre utilisation de nos services,
tels que les journaux d’accès, ainsi que des informations de tiers, comme lorsque vous accédez à nos services
via votre compte de réseaux sociaux ou lorsque vous téléchargez des informations depuis votre
compte de réseaux sociaux pour compléter votre profil. Si vous souhaitez des informations supplémentaires,
nous les abordons plus en détail plus bas.

Les informations que vous nous donnez

Lorsque vous utilisez nos services, vous choisissez de nous donner certaines informations. Cela inclut :

Lorsque vous créez un compte, vous nous livrez au moins vos identifiants de connexion (mail) ou votre numéro de téléphone,
ainsi que certaines informations de base nécessaires au fonctionnement du service, telles que votre sexe et
votre date de naissance.
Lorsque vous remplissez votre profil, vous pouvez partager avec nous des informations supplémentaires,
telles que des détails sur votre personnalité, vos photos, votre style de vie, vos centres d'intérêt et tout autre renseignement
librement renseigné.
Pour ajouter certains contenus, tels que des images, vous pouvez également accéder à votre appareil photo
ou à votre album de photos.
Lorsque vous souscrivez à un service payé ou effectuez un achat directement depuis chez nous (plutôt que par
l'intermédiaire d'une plateforme telle que iOS et Android), vous nous fournissez, ou fournissez à notre prestataire
de services de paiement des informations, telles que votre numéro de carte de débit ou de crédit ou d'autres informations
financières.
Lorsque vous participez à des sondages, à des groupes de discussion ou à des études de marché, vous nous livrez votre
connaissance de nos produits et services, des réponses à nos questions et des témoignages.
Lorsque vous choisissez de participer à nos promotions, événements ou concours, nous recueillons les informations que
vous utilisez pour vous enregistrer ou pour vous inscrire.
Si vous nous contactez (par exemple par l'intermédiaire de notre équipe de service client ou sur les réseaux sociaux),
nous recueillons les informations que vous nous donnez dans le cadre de cette interaction.
Si vous partagez avec nous des informations sur d’autres personnes (par exemple, si vous utilisez les coordonnées d’un ami
pour une fonctionnalité donnée), nous traitons ces informations en votre nom afin de compléter votre demande.
Bien sûr, nous traitons aussi vos discussions avec les autres utilisateurs ainsi que le contenu que vous publiez,
dans la mesure nécessaire pour le fonctionnement des services.

Les informations que nous recevons des autres

En plus des informations que vous nous pouvez nous donner directement, nous recevons des informations sur vous depuis
des tiers, y compris :

Utilisateurs
Les utilisateurs peuvent fournir des informations vous concernant lorsqu’ils utilisent nos services,
par exemple lorsqu’ils interagissent avec vous ou s’ils soumettent un signalement vous concernant.

Réseaux sociaux
Vous pouvez décider de partager des informations avec nous via votre compte de réseaux sociaux,
par exemple si vous décidez de créer ou de vous connecter à votre compte CRUSHS via vos comptes de réseaux sociaux
ou autres comptes (par exemple, Facebook, Google ou Apple) ou de télécharger sur nos services des informations,
comme des photos de l’un de vos comptes de réseaux sociaux (par exemple, Facebook ou Instagram).

Si vous avez été exclu, vos informations peuvent être utilisées avec nous pour nous permettre de prendre les mesures
nécessaires, y compris la clôture de votre compte ou pour vous empêcher de créer un compte sur nos services.

Les autres partenaires
Nous pourrions recevoir des informations vous concernant de la part de nos partenaires,
par exemple lorsque des publicités CRUSHS sont publiées sur le service d’un partenaire
(auquel cas ils pourront transmettre des détails concernant le succès de la campagne).
Lorsque cela est légalement autorisé, nous pouvons également recevoir des informations sur des acteurs
malveillants présumés ou reconnus par des tiers dans le cadre de nos efforts visant à garantir la sûreté
et la sécurité de nos utilisateurs.

Informations générées lorsque vous utilisez nos services

Lorsque vous utilisez nos services, cela génère des données techniques sur les fonctionnalités dont vous vous servez,
sur la façon dont vous les utilisez et sur les périphériques grâce auxquels vous accédez à nos services.
Voir ci-dessous pour plus d'informations.

Renseignements relatifs à l'utilisation
L’utilisation des services génère des données concernant votre activité sur nos services, par exemple la façon
dont vous les utilisez (par exemple lorsque vous vous êtes connecté, les fonctionnalités que vous avez utilisées,
les actions entreprises, les informations qui vous sont présentées, l’adresse des pages Web de référence et
les publicités avec lesquelles vous avez interagi) et vos interactions avec d’autres utilisateurs
(par exemple les utilisateurs avec lesquels vous vous vous connectez et interagissez, lorsque vous avez échangé avec
eux, le nombre de messages que vous envoyez et recevez).

Informations relatives à votre périphérique
Nous recueillons des informations sur le ou les appareil(s) que vous utilisez pour accéder à nos services, y compris
des informations sur le matériel et les logiciels tels que l’adresse IP, l’identifiant et le type d’appareil, les paramètres
et caractéristiques des applications, les plantages d’applications, les identifiants publicitaires
(qui sont des numéros générés de manière aléatoire que vous pouvez réinitialiser en accédant aux paramètres
de votre appareil), les identifiants associés aux cookies ou à d’autres technologies susceptibles d’identifier de
manière unique un appareil ou un navigateur.

D'autres informations avec votre consentement
Si vous nous en donnez l’autorisation, nous pouvons recueillir votre localisation précise (latitude et longitude).
La collecte de votre localisation peut se produire en arrière-plan même lorsque vous n'utilisez pas les services si
la permission que vous nous avez accordée autorise expressément la collecte de ces informations. Si vous nous refusez
cette permission de recueillir votre localisation précise, nous ne le ferons pas. De même, si vous y consentez, nous
pourrons recueillir des photos et des vidéos (par exemple, si vous voulez publier une photo ou une vidéo ou participer
à des fonctionnalités de flux de diffusion sur nos services).

COOKIES ET AUTRES TECHNOLOGIES DE COLLECTE DES DONNÉES SIMILAIRES
Nous utilisons et pouvons autoriser d'autres personnes à utiliser des cookies et des technologies similaires
(par exemple, des balises web, des pixels et des SDK) afin de vous reconnaître et/ou de reconnaître votre ou vos
périphériques. Vous pouvez lire notre Politique relative à l'utilisation des cookies pour plus d’informations sur
les raisons pour lesquelles nous les utilisons et comment vous pouvez mieux contrôler leur utilisation.

Certains navigateurs Internet (et notamment Safari, Internet Explorer, Firefox et Chrome) ont une fonctionnalité
« Ne pas suivre » (« Do Not Track », « DNT ») qui indique à un site Internet qu'un utilisateur ne souhaite pas que
son activité en ligne soit suivie.  Si un site Internet qui répond à un signal DNT reçoit un signal DNT,
le navigateur peut bloquer ce site Internet et l'empêcher de recueillir certaines informations sur l'utilisateur
du navigateur.  Tous les navigateurs ne proposent pas une option DNT et les signaux DNT ne sont pas encore uniformisés.
C'est pourquoi, de nombreuses entreprises, y compris CRUSHS, ne répondent pas à l'heure actuelle aux signaux DNT.

COMMENT NOUS UTILISONS LES INFORMATIONS
La principale raison pour laquelle nous utilisons vos informations est afin de fournir et d'améliorer nos services.
Par ailleurs, nous utilisons vos informations pour nous aider à vous protéger et à vous proposer des publicités
susceptibles de vous intéresser. Veuillez poursuivre votre lecture pour avoir des explications détaillées quant
aux diverses raisons pour lesquelles nous utilisons vos informations, ainsi que quelques exemples concrets.</p>
<ul>
<li>Pour administrer votre compte et vous fournir nos services</li>
<li>Créer et gérer votre compte</li>
<li>Vous offrir une assistance à la clientèle et répondre à vos demandes</li>
<li>Personnaliser la tarification et effectuer vos transactions</li>
<li>Communiquer avec vous au sujet de nos services</li>
<li>Administrer les loteries publicitaires, les concours, les réductions ou autres offres</li>
<li>Pour vous aider à vous connecter à d'autres utilisateurs</li>
<li>Vous recommander d’autres utilisateurs à rencontrer</li>
<li>Afficher mutuellement les profils des utilisateurs</li>
<li>Pour mener des campagnes publicitaires et marketing</li>
<li>Réaliser et mesurer l’efficacité des campagnes publicitaires sur nos services et des campagnes marketing promouvant CRUSHS sur et hors de nos services</li>
<li>Communiquer avec vous au sujet des produits ou services que nous pensons susceptibles de vous intéresser</li>
<li>Pour améliorer nos services et en développer de nouveaux</li>
<li>Administrer des groupes de discussion, des études de marché et des enquêtes</li>
<li>Examiner les interactions avec les équipes du service client pour améliorer notre qualité de service</li>
<li>Comprendre comment les utilisateurs utilisent généralement les services pour les améliorer (par exemple, nous pouvons décider de modifier l’apparence ou même de modifier substantiellement une fonctionnalité donnée en fonction de la manière dont les utilisateurs réagissent à celle-ci)</li>
<li>Développer de nouvelles fonctionnalités et services (par exemple, nous pouvons décider de développer une nouvelle fonctionnalité basée sur les intérêts pour approfondir les requêtes reçues des utilisateurs)</li>
<li>Pour empêcher, détecter et lutter contre la fraude et toute autre activité illégale ou non autorisée</li>
<li>Trouver et traiter les violations en cours, suspectées ou présumées de nos Conditions d’utilisation, notamment par l’examen des rapports et des interactions entre les membres</li>
<li>Mieux comprendre et concevoir des contre-mesures contre les violations de nos Conditions d’utilisation</li>
<li>Conserver les données relatives aux violations de nos Conditions d’utilisation pour éviter les récurrences</li>
<li>Faire appliquer ou exercer nos droits, par exemple nos Conditions d’utilisation</li>
<li>Communiquer aux utilisateurs ce que nous avons fait à la suite de leurs rapports</li>
<li>Pour garantir la conformité juridique</li>
<li>Se conformer aux exigences légales</li>
<li>Participer à l'application de la loi</li>
</ul>
<p>


Pour traiter vos informations comme décrit dans la présente Politique de confidentialité, nous nous appuyons
sur les bases légales suivantes :

Vous offrir notre service : Nous traitons vos informations aux fins A et B susmentionnées pour exécuter le contrat
que vous avez avec nous. Par exemple, lorsque vous utilisez notre service pour bâtir des connexions,
nous utilisons vos informations pour maintenir votre compte et votre profil, pour le rendre consultable par d'autres
utilisateurs, vous recommander d'autres utilisateurs et vous fournir autrement nos fonctionnalités gratuites et payantes.
Intérêts légitimes : Nous traitons vos informations aux fins C, D et E ci-dessus, sur la base de nos intérêts légitimes.
Par exemple, nous analysons le comportement des utilisateurs sur nos services afin d’améliorer continuellement nos offres,
nous suggérons des offres que nous pensons susceptibles de vous intéresser et de promouvoir nos propres services, nous traitons
les informations pour aider à assurer la sécurité de nos utilisateurs et nous traitons les données lorsque cela est
nécessaire pour faire respecter nos droits, aider l’application de la loi et nous permettre de nous défendre en cas d’action en justice.
Se conformer aux lois et réglementations applicables : Nous traitons vos informations aux fins F ci-dessus lorsqu’il
est nécessaire pour nous de nous conformer aux lois et réglementations applicables et de prouver notre conformité aux lois
et réglementations applicables. Par exemple, nous conservons les données de trafic et les données sur les transactions
conformément à nos obligations comptables, fiscales et autres obligations légales de conservation des données, et pour pouvoir
répondre aux demandes d’accès valides provenant des forces de l’ordre. Nous conservons également les données prouvant les
consentements que les utilisateurs nous donnent et les décisions qu’ils peuvent avoir prises pour refuser une fonctionnalité
ou un traitement donné.
Consentement : Si vous choisissez de nous fournir des informations qui peuvent être considérées comme « particulières »
ou « sensibles » dans certaines juridictions, telles que votre orientation sexuelle, vous consentez à notre traitement
de ces informations conformément à la présente Politique de confidentialité. De temps à autres, nous pouvons vous
demander votre consentement pour recueillir des information spécifiques, comme votre localisation précise, ou pour
utiliser vos informations pour certaines raisons spécifiques. Dans certains cas, vous pouvez retirer votre consentement
en adaptant vos paramètres (par exemple, en relation avec la collecte de localisation précise) ou en supprimant votre contenu
(par exemple, lorsque vous avez saisi des informations dans votre profil qui peuvent être considérées comme
« particulières » ou « sensibles »). Dans tous les cas, vous pouvez retirer votre consentement à tout moment en nous
contactant à l'adresse fournie à la fin de la présente Politique de confidentialité.
COMMENT NOUS PARTAGEONS LES INFORMATIONS
Comme notre objectif est de vous aider à trouver et développer de nouvelles relations, le principal partage des informations
des utilisateurs est, bien sûr, avec d'autres utilisateurs. Nous partageons également certaines informations d'utilisateurs
avec des prestataires de service et des partenaires qui nous assistent dans l'exploitation des services, avec d'autres
sociétés pour des raisons spécifiques et, dans certains cas, des autorités publiques.
Veuillez poursuivre votre lecture pour avoir plus de détails sur la façon dont vos informations sont partagées avec des tiers.

Avec d'autres utilisateurs
Vous partagez des informations avec d'autres utilisateurs lorsque vous divulguez volontairement des informations sur
le service (y compris votre profil public). Veuillez faire attention à vos informations et vous assurer que le contenu
que vous partagez contient des éléments que vous acceptez de rendre visibles.

Si vous choisissez de limiter le public pour tout ou une partie de votre profil ou pour certains contenus ou
informations vous concernant, alors ils seront visibles conformément à vos paramètres.

Si quelqu’un soumet un signalement vous concernant (par exemple, si vous avez violé nos Conditions d’utilisation ou
les Directives de la communauté), nous pouvons communiquer à l’auteur du signalement les mesures que nous avons prises,
le cas échéant, suite à leur signalement.

Avec nos prestataires de service et nos partenaires
Nous utilisons des tierces parties pour nous aider à exploiter et à améliorer nos services.
Ces tierces parties nous viennent en aide avec diverses tâches, y compris l'hébergement et l'entretien des données,
les analyses, l'assistance à la clientèle, le marketing, la publicité, le traitement des paiements et les opérations de
sécurité. Nous partageons également des informations avec des partenaires qui distribuent et nous aident dans la
promotion de nos services. Par exemple, nous pouvons partager des informations limitées à votre sujet sous une forme hachée,
illisible pour les humains avec nos partenaires publicitaires.

Nous suivons un processus de filtrage rigoureux avant d'engager tout prestataire de service ou de travailler avec tout
partenaire. Nos prestataires de services et partenaires doivent respecter des obligations strictes en matière de
confidentialité.

Avec application de la loi/lorsque la loi l’exige
Nous pourrons divulguer vos informations si raisonnablement nécessaire : (i) pour se conformer à un processus légal,
tel qu'une ordonnance du tribunal, une assignation ou un mandat de perquisition, une enquête gouvernementale ou judiciaire
ou une autre exigence légale ; (ii) pour offrir une aide dans la prévention ou la détection d'une action criminelle
(soumise dans chaque cas à la législation en vigueur) ; ou (iii) pour protéger la sécurité de toute personne.

Pour appliquer les droits juridiques
Nous pourrons également partager des informations : (i) si leur divulgation devait atténuer notre responsabilité
dans des poursuites judiciaires en cours ou potentielles ; (ii) selon ce qui est nécessaire pour protéger nos droits
légaux et les droits légaux de nos utilisateurs, de nos partenaires commerciaux ou d'autres parties intéressées ;
(iii) pour renforcer nos accords avec vous ; ou (iv) pour enquêter, éviter, ou prendre d'autres mesures concernant une
activité illégale, une fraude soupçonnée ou un autre acte répréhensible.

Avec votre consentement ou à votre demande
Nous pouvons demander votre consentement pour partager vos informations avec des tierces parties. Dans de tels cas,
nous vous exprimerons clairement pourquoi nous avons besoin de partager les informations.

Nous pouvons utiliser et partager des informations non personnelles (c.-à-d., des informations qui par elles-mêmes
n'identifient pas qui vous êtes telles que des informations sur le périphérique, des données démographiques générales,
des données comportementales générales, de localisation sous une forme désidentifiée), ainsi que des données à caractère
personnel sous une forme hachée, illisible par l'être humain, dans l'une des circonstances suscitées. Nous pouvons également
partager ces informations avec d'autres entreprises Match Group et des tiers (notamment les publicitaires) afin d'élaborer
et de présenter des publicités ciblées sur notre service et sur les sites Web ou applications de tiers et d'effectuer
des analyses et des rapports sur la publicité que vous voyez. Nous pouvons combiner ces informations avec des informations
non personnelles ou personnelles sous une forme hachée et illisible par l'être humain que nous recueillons auprès d'autres
sources.

VOS DROITS
Nous voulons que vous ayez le contrôle de vos informations, c’est pourquoi nous souhaitons vous rappeler les options et
outils suivants à votre disposition : <br>

Outils d'accès/de mise à jour dans le service. Les outils et les paramètres de compte qui peuvent vous aider à
accéder, rectifier ou effacer les informations que vous nous avez livrées et qui sont associées à votre compte
directement au sein du service. Si vous avez des questions sur ces outils et paramètres, veuillez contacter notre équipe
du service client pour obtenir de l'aide ici.
Autorisations du périphérique. Les plateformes mobiles peuvent disposer de systèmes d'autorisation pour des types
spécifiques de données et de notifications de périphérique, tels que les contacts téléphoniques, les photos,
les services de localisation, les notifications push et les identifiants publicitaires. Vous pouvez modifier vos
paramètres sur votre périphérique soit pour consentir ou vous opposer à la collecte ou au traitement d’informations
correspondantes ou l'affichage des notifications correspondantes. Bien sûr, si vous le faites, certains services peuvent
perdre certaines de leurs fonctionnalités.
Désinstaller. Vous pouvez arrêter toute collecte des informations par une application en la désinstallant à l'aide du
processus de désinstallation standard pour votre périphérique. N’oubliez pas que la désinstallation d’une application ne
clôture PAS votre compte. Pour clôturer votre compte, veuillez utiliser la fonctionnalité correspondante sur le service
Clôture du compte. Vous pouvez clôturer votre compte en utilisant la fonctionnalité correspondante directement sur le service.
Nous voulons également que vous soyez informés de vos droits en matière de confidentialité.
Voici quelques points clés à retenir :

Réviser vos informations. Les lois sur la confidentialité en vigueur peuvent vous octroyer le droit de réviser
les données à caractère personnel que nous conservons à votre sujet (en fonction de la juridiction, cela peut être appelé
le droit d'accès, le droit de portabilité, le droit de savoir ou des variations de ces termes). Vous pouvez exercer ce
droit en soumettant une telle demande ici.
Mettre à jour vos informations. Si vous pensez que les informations que nous détenons à votre sujet sont inexactes
ou que nous ne sommes plus habilités à les utiliser et que souhaitez demander leur rectification, leur effacement ou refuser
leur traitement, veuillez nous contacter ici.
Pour votre protection et la protection de tous nos utilisateurs, il se peut que nous vous demandions de fournir une
preuve d'identité avant que nous puissions répondre aux demandes ci-dessus.

Gardez à l'esprit qu'il se peut que nous refusions des demandes, notamment si nous ne sommes pas en mesure de vous
authentifier, si la demande est illégale ou invalide, ou si elle peut enfreindre des secrets commerciaux, la propriété
intellectuelle, la confidentialité ou les autres droits d'un autre utilisateur. Si vous souhaitez recevoir des informations
relatives à un autre utilisateur, telles qu'une copie de tous les messages que vous avez reçus de sa part ou par
l'intermédiaire de notre service, l'autre utilisateur devra nous contacter pour transmettre une demande distincte
pour ses informations. Nous pouvons également leur demander de fournir une preuve d’identité avant de pouvoir répondre
à la demande.

D'autre part, il se peut que nous ne puissions pas accéder à certaines demandes pour refuser ou limiter le traitement
des données à caractère personnel, notamment lorsque ces demandes ne nous permettraient plus de vous fournir nos services.
Par exemple, nous ne pouvons pas fournir notre service si nous n’avons pas votre date de naissance et ne pouvons donc pas
garantir que vous avez 18 ans ou plus.

Vous avez un droit d'introduire une réclamation auprès de l'autorité de protection des données appropriée si vous avez
des inquiétudes quant à la façon dont nous traitons vos données à caractère personnel. L'autorité de protection des
données auprès de laquelle vous pouvez introduire une réclamation peut être celle de votre résidence habituelle,
là où vous travaillez ou là où une violation présumée a eu lieu.

PENDANT COMBIEN DE TEMPS NOUS CONSERVONS VOS INFORMATIONS
Nous conservons vos données à caractère personnel uniquement aussi longtemps que nous en avons besoin dans le cadre de
pratiques commerciales légitimes (telles qu'énoncées dans la section 5) et dans la mesure autorisée par la législation
en vigueur. Si vous décidez d’arrêter d’utiliser nos services, vous pouvez clôturer votre compte et votre profil ne sera
plus visible pour les autres utilisateurs. Veuillez noter que nous clôturerons votre compte automatiquement si vous êtes
inactif pendant une période de deux ans. Après la clôture de votre compte, nous effacerons vos données à caractère personnel,
comme indiqué ci-dessous :

Pour protéger la sûreté et la sécurité de nos utilisateurs, nous mettons en œuvre une fenêtre de conservation
de sécurité de trois mois après la clôture du compte. Pendant cette période, nous conservons vos informations dans
l’éventualité où il serait nécessaire d’enquêter sur des comportements illégaux ou préjudiciables. La conservation des
informations pendant cette fenêtre de conservation de sécurité est basée sur nos intérêts légitimes ainsi que sur celui
des victimes tierces potentielles.
Une fois la fenêtre de conservation de sécurité écoulée, nous effaçons vos données et conservons uniquement des
informations limitées à des fins spécifiques, comme indiqué ci-dessous :
Nous conservons des données limitées pour nous conformer aux obligations légales de conservation des données :
en particulier, nous conservons les données de transaction pour nous conformer aux exigences légales fiscales et comptables,
les informations de carte de crédit, le cas échéant, pendant la durée pendant laquelle l’utilisateur peut contester la
transaction et les « données de trafic »/journaux pendant un an pour nous conformer aux obligations légales de conservation
des données. Nous conservons également des registres des consentements que les utilisateurs nous accordent pendant cinq ans
pour prouver notre conformité à la loi applicable.
Nous conservons des informations limitées sur la base de nos intérêts légitimes : nous conservons les dossiers du service
client et les données justificatives, ainsi que la localisation imprécise du ou des téléchargement(s) pour appuyer nos
décisions en matière de service client, pour faire respecter nos droits et nous permettre de nous défendre en cas de
réclamation, les données de profil en prévision d’un litige potentiel, pour l’établissement, l’exercice ou la défense
de droits légaux et les données nécessaires pour empêcher les utilisateurs qui ont été interdits ou les personnes qui
se sont avérées être âgées de moins de 18 ans d’ouvrir un nouveau compte, pour garantir la sécurité et les intérêts vitaux
de nos utilisateurs.
Enfin, nous conservons des informations sur la base de nos intérêts légitimes lorsqu’il existe un problème, une
réclamation ou un litige en cours ou potentiel nous demandant de conserver des informations, en particulier si nous
recevons une assignation légale valide ou une demande de conservation des données (auquel cas nous devrons conserver les
données pour nous conformer à nos obligations légales) ou si les données seraient autrement nécessaires dans le cadre de
procédures légales.
CONFIDENTIALITÉ RELATIVE AUX ENFANTS
Nos services sont limités aux personnes âgées de 18 ans ou plus. Nous n’autorisons pas les personnes âgées de moins
de 18 ans sur notre plateforme. Si vous soupçonnez qu'un utilisateur est âgé de moins de 18 ans, veuillez utiliser
le mécanisme de signalement à votre disposition dans le service.

MODIFICATIONS DE LA POLITIQUE DE CONFIDENTIALITÉ
Parce que nous cherchons constamment des façons nouvelles et innovantes de vous aider à établir de nouvelle relations
et nous nous efforçons de faire en sorte que les explications concernant nos pratiques en matière de données restent
à jour, la présente politique peut être modifiée de temps à autre. Nous vous préviendrons si des modifications
importantes entrent en action afin que vous ayez le temps d'examiner ces changements.</p>

<%= link_to "retour" profils_path %>
