<div class="home">
<H1>C R U S H S</H1>
<H2> VOUS ALLEZ ADORER VOUS RENCONTRER</H2>
<%= link_to "Trouvez votre crush" %>

<p>En vous inscrivant vous acceptez nos Conditions
Générales d’Utilisation. Pour plus d’informations sur
l’utilisation des données, consultez notre Politique
de Confidentialité.</p>
</div>
