.btn-login {
  border: 2px solid #F5A7B3;
  width: 200px;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.683);
  text-align: justify;
  // position: absolute;
  // display: block;
  padding-top: 10px;
}

.btn-login:hover{
  // border: 2px solid white;
  background-color: white;
  text-decoration: none;
}

.btn-login li {
  list-style: none;
}
.btn-home {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 511px;
  height: 73px;
  padding: 10px;
  margin: 50px;
  text-align: center;
  box-shadow: 1px 1px 2px #F5A7B3;
  // margin: 0 auto;
  margin: 30px;
}

.btn-home a {
  // padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  color: #4A4A4A;
  // border: 1px solid #4A4A4A;
  border: 3px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.btn-gradient {
  color: #F5A7B3;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  background: linear-gradient(#FFFFFF,#fff4f4);
  transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
