<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à changer votre mot de passe. Vous pouvez le faire en suivant le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Votre mot de passe ne changera pas tant que vous n'en créez pas un nouveau.</p>
<p>L'équipe CRUSHS</p>
